<div class="text-center container-fluid container-signin">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {class: 'form-signin'}) do |f| %>
    <%= image_tag 'bootstrap-solid.svg', alt: 72, height: 72, class: 'mb-4' %>
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <%= f.label :email, class: 'sr-only' %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: "Email address", required: true  %>
    <%= f.label :password, class: "sr-only" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password", required: true %>
    <% if devise_mapping.rememberable? -%>
      <label> 
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </label>
    <% end -%>
      <%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block" %>
  <% end %>
</div>